.search-box {
  width: 200px;
  height: 20px; }

.search-result {
  border: 1px solid #808080;
  border-top: none;
  width: 195px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer; }
  .search-result:hover {
    background-color: #ccc; }
