*, *:after, *:before {
    box-sizing: border-box;
}

h2 {
    text-align: center; margin-bottom: 0;
}

h3 {
    position: relative;
}

a {
    text-decoration: none;
}

.grid {
    margin: 0;
}

.col-1-4 {
    width: 25%;

    @media (max-width: 500px) {
        width: 50%;
    }
}

.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
    transition: .2s ease-in-out;

    &:hover {
        background-color: #EEE;
        cursor: pointer;
        color: #607d8b;
    }

    @media (max-width: 1024px) {
        min-width: 60px;
    }

    @media (max-width: 600px) {
        font-size: 10px;
        max-height: 75px;
    }
}

.grid-pad {
    padding: 10px 0;

    > [class*='col-']:last-of-type {
        padding-right: 20px;
    }
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;

    &:last-of-type {
        padding-right: 0;
    }
}
